
<mat-toolbar  class="name-text">
  <mat-toolbar-row  >
    <a [routerLink]="['/']" data-title="Home"> <span ><mat-icon   aria-label="Cat icon" svgIcon="paw-icon"></mat-icon > &nbsp; | Catstagram </span></a>
  <span class="spacer" ></span>
  
  <a routerLink="/saved-images" left-title="Saved Images" >
  <button mat-icon-button aria-label="Collected images" >  
    <mat-icon>collections</mat-icon>
  </button>
  </a>

  <a routerLink="/settings" left-title="Settings">
  <button mat-icon-button aria-label="Settings icon">  
    <mat-icon>settings</mat-icon>
  </button>
  </a>
  
  
  </mat-toolbar-row>
  </mat-toolbar>
