<div class="card">
<span class="settings-content"><h1 class="settings-text">Enable Notifications  </h1> &nbsp; <mat-slide-toggle color="warn"[(ngModel)]="slideToggleState" (change)="checked()"></mat-slide-toggle></span>
<br>
<span class="settings-content"><h1 class="settings-text">Enable Comments  </h1> &nbsp; <mat-slide-toggle color="warn"></mat-slide-toggle></span>
<span class="settings-content" ><h1 class="settings-text">Enable Ads  </h1> &nbsp; <mat-checkbox color="warn" ></mat-checkbox></span>
</div>